#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

select {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
}